<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/tiny-slider.js}"></script>
<script th:src="@{/js/OverlayScrollbars.min.js}"></script>
<script th:src="@{/js/choices.min.js}"></script>
<script th:src="@{/js/glightbox.min.js}"></script>
<script th:src="@{/js/flatpickr.min.js}"></script>
<script th:src="@{/js/plyr/plyr.js}"></script>
<script th:src="@{/js/dropzone.min.js}"></script>
<script th:src="@{/js/zuck.min.js}"></script>
<script th:src="@{/js/zuck-stories.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<div id="zuck-modal" class="with-cube with-effects" tabindex="1" style="display: none;">
    <div id="zuck-modal-content"></div>
</div>

<!-- Theme Functions -->
<script th:src="@{/js/functions.js}"></script>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<!-- Vendors -->
<script src="js/choices.min.js"></script>

<!-- Theme Functions -->
<script th:src="@{/js/functions.js}"></script>

</body>
</html>