<div class="col-lg-3">

    <!-- Advanced filter responsive toggler START -->
    <div class="d-flex align-items-center d-lg-none">
        <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSideNavbar" aria-controls="offcanvasSideNavbar">
            <span class="btn btn-primary"><i class="fa-solid fa-sliders-h"></i></span>
            <span class="h6 mb-0 fw-bold d-lg-none ms-2">My profile</span>
        </button>
    </div>
    <!-- Advanced filter responsive toggler END -->

    <!-- Navbar START-->
    <nav class="navbar navbar-expand-lg mx-0">
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSideNavbar">
            <!-- Offcanvas header -->
            <div class="offcanvas-header">
                <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <!-- Offcanvas body -->
            <div class="offcanvas-body d-block px-2 px-lg-0">
                <div class="card">
                    <!-- Card header START -->
<!--                    <div class="card-header pb-0 border-0">-->
<!--                        <h5 class="card-title mb-0">Shortcuts</h5>-->
<!--                    </div>-->
                    <!-- Card header END -->

                    <!-- Card body START -->
                    <div class="card-body">
                        <!-- Connection item START -->
                        <div class="hstack gap-2 mb-3">
                            <div class="overflow-hidden">
                                <a class="h6 mb-0" href="/users">Extroverts</a>
                                <p class="mb-0 small text-truncate">Profiles of all extroverts</p>
                            </div>
                            <!-- Button -->
                            <a class="btn btn-primary-soft rounded-circle icon-md ms-auto" href="/userForm"><i class="bi fa-solid fa-plus"> </i></a>
                        </div>

                        <div class="hstack gap-2 mb-3">
                            <div class="overflow-hidden">
                                <a class="h6 mb-0" href="/stebbies">Stebby</a>
                                <p class="mb-0 small text-truncate">List of Stebby services</p>
                            </div>
                            <!-- Button -->
                            <a class="btn btn-primary-soft rounded-circle icon-md ms-auto" href="/stebbyForm"><i class="fa-solid fa-plus"> </i></a>
                        </div>

                        <div class="hstack gap-2 mb-3">
                            <div class="overflow-hidden">
                                <a class="h6 mb-0" href="/hobbies">Hobbies</a>
                                <p class="mb-0 small text-truncate">List of all hobbies</p>
                            </div>
                            <!-- Button -->
                        </div>

                        <div class="hstack gap-2 mb-3">
                            <div class="overflow-hidden">
                                <a class="h6 mb-0" href="/tagList">Tags</a>
                                <p class="mb-0 small text-truncate">List of all tags</p>
                            </div>
                            <!-- Button -->
                            <a class="btn btn-primary-soft rounded-circle icon-md ms-auto" href="/tagForm"><i class="fa-solid fa-plus"> </i></a>
                        </div>

                        <div class="hstack gap-2 mb-3">
                            <div class="overflow-hidden">
                                <a class="h6 mb-0" href="/reviewList">Reviews</a>
                                <p class="mb-0 small text-truncate">List of all reviews</p>
                            </div>
                            <!-- Button -->
                        </div>

                        <a href="/nudgeList">All Nudges </a>

                    </div>
                    <!-- Card body END -->

                </div>

                <hr>

                <p class="small text-center mt-1">©2024  <span class="text-red">.</span> Directory</p>
            </div>
        </div>
    </nav>
    <!-- Navbar END-->
</div>
