<div class="col-lg-3">
<!-- -->
<!--     <div class="row g-4">-->
<!--         &lt;!&ndash; Card follow START &ndash;&gt;-->
<!--        <div class="col-sm-6 col-lg-12" >-->
<!--            <div class="card">-->
<!--                &lt;!&ndash; Card header START &ndash;&gt;-->
<!--                <div class="card-header pb-0 border-0">-->
<!--                    <h5 class="card-title mb-0">Profiles</h5>-->
<!--                </div>-->
<!--                &lt;!&ndash; Card header END &ndash;&gt;-->

<!--                &lt;!&ndash; Card body START &ndash;&gt;-->
<!--                <div class="card-body">-->
<!--                    &lt;!&ndash; Connection item START &ndash;&gt;-->
<!--                    <div class="hstack gap-2 mb-3">-->
<!--                        &lt;!&ndash; Avatar &ndash;&gt;-->
<!--                        <div class="avatar">-->
<!--                            <a href="#!"><img class="avatar-img rounded-circle" th:src="@{/images/user.svg}" alt=""></a>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Title &ndash;&gt;-->
<!--                        <div class="overflow-hidden">-->
<!--                            <a class="h6 mb-0" href="#!">Jud Ivan </a>-->
<!--                            <p class="mb-0 small text-truncate">Lorem epsum</p>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Button &ndash;&gt;-->
<!--                        <a class="btn btn-primary-soft rounded-circle icon-md ms-auto" href="#"><i class="fa-solid fa-plus"> </i></a>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Connection item END &ndash;&gt;-->

<!--                    &lt;!&ndash; Connection item START &ndash;&gt;-->
<!--                    <div class="hstack gap-2 mb-3">-->
<!--                        &lt;!&ndash; Avatar &ndash;&gt;-->
<!--                        <div class="avatar avatar-story">-->
<!--                            <a href="#!"> <img class="avatar-img rounded-circle" th:src="@{/images/user.svg}" alt=""> </a>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Title &ndash;&gt;-->
<!--                        <div class="overflow-hidden">-->
<!--                            <a class="h6 mb-0" href="#!">Lid Ilves </a>-->
<!--                            <p class="mb-0 small text-truncate">Lorem epsum</p>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Button &ndash;&gt;-->
<!--                        <a class="btn btn-primary-soft rounded-circle icon-md ms-auto" href="#"><i class="fa-solid fa-plus"> </i></a>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Connection item END &ndash;&gt;-->

<!--                    &lt;!&ndash; Connection item START &ndash;&gt;-->
<!--                    <div class="hstack gap-2 mb-3">-->
<!--                        &lt;!&ndash; Avatar &ndash;&gt;-->
<!--                        <div class="avatar">-->
<!--                            <a href="#"> <img class="avatar-img rounded-circle" th:src="@{/images/user.svg}" alt=""> </a>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Title &ndash;&gt;-->
<!--                        <div class="overflow-hidden">-->
<!--                            <a class="h6 mb-0" href="#!">Maria Kukk </a>-->
<!--                            <p class="mb-0 small text-truncate">Lorem Epsum</p>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Button &ndash;&gt;-->
<!--                        <a class="btn btn-primary rounded-circle icon-md ms-auto" href="#"><i class="bi bi-person-check-fill"> </i></a>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Connection item END &ndash;&gt;-->

<!--                    &lt;!&ndash; View more button &ndash;&gt;-->
<!--                    <div class="d-grid mt-3">-->
<!--                        <a class="btn btn-sm btn-primary-soft" href="#!">View more</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Card body END &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Card follow START &ndash;&gt;-->

<!--        &lt;!&ndash; Card News START &ndash;&gt;-->
<!--        <div class="col-sm-6 col-lg-12">-->
<!--            &lt;!&ndash;                        <div class="card">&ndash;&gt;-->
<!--            <img th:src="@{/images/bannerSample.png}" alt="">-->
<!--            &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; Card News END &ndash;&gt;-->
<!--    </div>-->


</div>
