<div th:replace="~{Fragments/head}"></div>

<body>

<div th:replace="~{Fragments/MainNavbar}"></div>

<main>

<!-- Container START -->

<div class="container">

  <!-- Row START -->
    <div class="row g-4">

      <!-- Left sidebarLeft -->
      <div th:replace="~{Fragments/NavLeft}"></div>

      <!-- Main content START -->
      <div class="col-md-8 col-lg-6 vstack gap-4">

            <!-- Card feed item START -->
            <div class="row g-3 mb-4">

                <div class="d-sm-flex justify-content-between align-items-center">
                    <h5 class="mb-md-0">LIST OF FEATURED HOBBIES</h5>
                </div>

                <div>
                    <form th:action="@{hobbies}">
                        Filter:
                        <input type="text" name="keyword" th:value="${keyword}" required />
                        &nbsp;
                        <input type="submit" name="Search" />
                        &nbsp;
                        <input type="button" value="Clear" onclick="clearFilter()" />


                    </form>
                </div>

                <!-- START CARDS DIV -->
                <div class="col-sm-6 col-md-4 col-xl-4 col-xxl-4">

                    <dl th:each="hobby : ${hobby}" class="card position-relative">
<!--                        <dd>-->
<!--&lt;!&ndash;                            TODO: Review images - add image two  &ndash;&gt;-->
<!--                            <div class="card-image">-->
<!--                                <img class="card-img-top" th:src="${hobby.getImageOneUrl()}" alt="hobby Picture One" >-->
<!--                            </div>-->

<!--                        </dd>-->

<!--                    Removed class="stretched-link" because it applies to all hobbies. TODO: Debbuging-->

                        <dd><h5> <a th:href="@{/hobbyPage/{id}(id=${hobby.id})}"><span th:text="${hobby.title}"></span></a> </h5></dd>
                        <dd> <span th:text="'Service Provider: ' + ${hobby.getServiceProvider}"></span> </dd>
                        <dd> <span th:text="'Average Cost: ' + ${hobby.getPrice} + '€'"></span> </dd>
                        <dd>  <div> <a th:href="${hobby.getLink()}" target="_blank">Website</a> </div> </dd>

                        <dd> <span th:text="'Tags: '"></span> </dd>
                        <dd> <a th:href="@{/hobbies(keyword=${tag.tagTitle})}" th:each="tag : ${hobby.tagListHobby}" th:text="${tag.tagTitle} + ', '"> </a></dd>

                    </dl>
                </div>

            </div>
            <!-- Card feed item END -->


        </div>
      <!-- Main content END -->

      <!-- Right sidebarRight -->
      <div th:replace="~{Fragments/NavRight}"></div>

  </div>
  <!-- Row END -->
</div>


<!-- Container END -->

</main>

<script>
    type="text/javascript">
        function clearFilter() {
            window.location = '/hobbies';
        }
</script>

</body>

<div th:replace="~{Fragments/footer}"></div>

