<div th:replace="~{Fragments/head}"></div>

<body>

<div th:replace="~{Fragments/MainNavbar}"></div>

<main>

<!-- Container START -->

<div class="container">

  <!-- Row START -->
    <div class="row g-4">

      <!-- Left sidebarLeft -->
      <div th:replace="~{Fragments/NavLeft}"></div>

      <!-- Main content START -->
      <div class="col-md-8 col-lg-6 vstack gap-4">

            <!-- Card feed item START -->
            <div class="row g-3 mb-4">

                <div class="d-sm-flex justify-content-between align-items-center">
                    <h5 class="mb-md-0">LIST OF NUDGES</h5>
                </div>

                <div>
                    <form th:action="@{nudgeList}">
                        Filter:
                        <input type="text" name="keyword" th:value="${keyword}" required />
                        &nbsp;
                        <input type="submit" name="Search" />
                        &nbsp;
                        <input type="button" value="Clear" onclick="clearFilter()" />

                    </form>
                </div>

                <!-- START CARDS DIV -->
                <div class="col-sm-6 col-md-4 col-xl-4 col-xxl-12">

<!--                    <dl th:each="nudge : ${nudge}" class="card position-relative">-->
                    <dl th:each="nudge : ${nudge}" class="card position-relative">

<!--                    Removed class="stretched-link" because it applies to all stebbys. TODO: Debbuging-->

<!--                    <dd><h5> <a th:href="@{/nudgePage/{id}(id=${nudge.id})}"><span th:text="${nudge.service}"></span></a> </h5></dd>-->

                        <dd> <span th:text="'Nudge Id: ' + ${nudge.getId}"></span> </dd>

                        <dd> <span th:text="'Requestor profile ID: ' + ${nudge.getYourProfileId}"></span> </dd>

                        <dd> <span th:text="'Requestor Contacts: ' + ${nudge.getContacts}"></span> </dd>

                        <dd> <span th:text="'Message: ' + ${nudge.getComment}"></span> </dd>

<!--                        <dd> <span th:text="'Host ID: ' + ${nudge.getSubjectId}"></span> </dd>-->

<!--                        <dd> <span th:text="'Host Name: ' + ${nudge.getSubjectName}"></span> </dd>-->

                        <dd> <span th:text="'Host ID: ' + ${nudge.nudgedUser.getId}"></span> </dd>

                        <dd> <span th:text="'Host Name: ' + ${nudge.nudgedUser.getFirstName} + ${nudge.nudgedUser.getSecondName}"></span> </dd>

                        <dd> <span th:text="'Host Mobile: ' + ${nudge.nudgedUser.getMobile}"></span> </dd>
                        <dd> <span th:text="'Host Telegram: ' + ${nudge.nudgedUser.getTelegram}"></span> </dd>
                        <dd> <span th:text="'Host Email: ' + ${nudge.nudgedUser.getUserEmail}"></span> </dd>
                        <dd> <span th:text="'Host Origin: ' + ${nudge.nudgedUser.getOrigin()}"></span> </dd>
                        <dd> <span th:text="'Host Dating Objectives: ' + ${nudge.nudgedUser.getDatingObjectives()}"></span> </dd>

                    </dl>
                </div>

            </div>
            <!-- Card feed item END -->


        </div>
      <!-- Main content END -->

      <!-- Right sidebarRight -->
      <div th:replace="~{Fragments/NavRight}"></div>

  </div>
  <!-- Row END -->
</div>


<!-- Container END -->

</main>

</body>

<div th:replace="~{Fragments/footer}"></div>

