<div th:replace="~{Fragments/head}"></div>

<body>
<div th:replace="~{Fragments/MainNavbar}"></div>
<main>

<div class="container">

<div class="row g-4">

        <div th:replace="~{Fragments/NavLeft}"></div>

<!--        Main Content Start-->
    <div class="col-md-8 col-lg-6 vstack gap-4">

        <div class="card">

            <div class="card-header border-0 pb-0">
                <h1 class="h4 card-title mb-0">EDIT THE STEBBY ENTRY</h1>
                <p th:text="'Edit Stebby details below:'" />
            </div>

            <div class="card-body">

                <!-- TODO: Edit access to be restricted only to respective user who created the business. Spring Boot Security-->

                <form th:action="@{/stebbyUpdate/{id}(id=${stebby.id})}" th:object="${stebby}" method="post">

<!--                    <img th:src="@{stebby.getImageOneUrl}" width="150" height="100" alt="stebby Image One">-->

                    <br><br>

                    <label class="form-label">Stebby Service : </label>
                    <input type="text" th:field="*{service}" /> <br>

                    <label class="form-label">Service Provider </label>
                    <input type="text" th:field="*{serviceProvider}" />  <br>

                    <label class="form-label">Price: </label>
                    <input type="number" th:field="*{price}" />  <br>

                    <label class="form-label">Category: </label>
                    <input type="text" th:field="*{category}" />  <br>

                    <label class="form-label">Link: </label>
                    <input type="text" th:field="*{link}" />  <br>

                    <label class="form-label">Description: </label>
                    <br>
<!--                    <input type="text" th:field="*{serviceDescription}" />-->
                    <textarea rows="4" cols="40" th:field="*{serviceDescription}" />  <br>

                    <label class="form-label">Tags: </label>

                    <dl th:each="tag : ${stebby.tagListStebby}">
                        <dd> <span th:text="${tag.tagTitle}"> </span> </dd>
                    </dl>

                    <p>Press CTRL to select multiple options at once.</p>

                    <select multiple th:field="*{tagListStebby}">
                        <option th:each="tag : ${allTagsStebby}" th:value="${tag.getId()}" th:text="${tag.tagTitle}">
                        </option>
                    </select>



                    <br><br>

                    <button type="submit"> Submit </button>

                    <button type="button" style="color:red">
                        <a th:href="@{/stebbyPage/{id}(id=${stebby.id})}">Cancel</a>
                    </button>

                </form>
            </div>

        </div>

    </div>
<!--        Main Content End-->

    <div th:replace="~{Fragments/NavRight}"></div>

</div>

</div>

</main>
</body>>

<div th:replace="~{Fragments/footer}"></div>
