<div th:replace="~{Fragments/head}"></div>

<body>

<div th:replace="~{Fragments/MainNavbar}"></div>

<main>

<div class="container">

<div class="row g-4">

        <div th:replace="~{Fragments/NavLeft}"></div>

<!--        Main Content Start-->
    <div class="col-md-8 col-lg-6 vstack gap-4">

        <div class="card">

            <div class="card-header border-0 pb-0">
                <h1 class="h4 card-title mb-0">EDIT TAG</h1>
                <p th:text="'Edit the tag details below:'" />
            </div>

            <div class="card-body">

                <!-- TODO: Edit access to be restricted only to respective user who created the business. Spring Boot Security-->

                <form th:action="@{/tagUpdate/{id}(id=${tag.id})}" th:object="${tag}" method="post">

                    <p>Tag Title: <input type="text" th:field="*{tagTitle}" /></p>
                    <p>Description: <br>
                        <textarea rows="2" cols="40" th:field="*{tagDescription}" /></p>
                    <br><br>

                    <button type="submit"> Submit </button>

                    <button type="button" style="color:red">
                        <a th:href="@{/tagList}">Cancel</a>
                    </button>

                </form>
            </div>

        </div>

    </div>
<!--        Main Content End-->

    <div th:replace="~{Fragments/NavRight}"></div>

</div>

</div>

</main>
</body>>

<div th:replace="~{Fragments/footer}"></div>
