<div th:replace="~{Fragments/head}"></div>

<body>

<div th:replace="~{Fragments/MainNavbar}"></div>

<main>

<div class="container">

<div class="row g-4">

        <div th:replace="~{Fragments/NavLeft}"></div>

<!--        Main Content Start-->
    <div class="col-md-8 col-lg-6 vstack gap-4">

        <div class="card">

            <!-- TODO: Edit access to be restricted only to respective user. Spring Boot Security-->

            <div class="card-header border-0 pb-0">
                <h1 class="h4 card-title mb-0">EDIT PROFILE DETAILS</h1>
                <p th:text="'Edit your details below:'">
            </div>

            <div class="card-body">
                <p th:text="'ID:' + ${user.getId}" style="display:none" >  <!-- Hidden -->

                <form th:action="@{/userUpdate/{id}(id=${user.id})}" th:object="${user}" method="post">

                        <!-- For images saved on AWS & Fasthub CDN -->
<!--                <img th:src="@{user.getProfilePicUrl}" width="150" height="100" alt="" >-->

                <label class="form-label">First Name: </label>
                <input type="text" class="form-control" id="firstName"  th:field="*{firstName}" />
                <br>

                <label class="form-label">Second Name: </label>
                <input type="text" class="form-control" th:field="*{secondName}" />  <br>

                <div class="col-12">
                    <label class="form-label">Gender</label><br>
                    <div>
                        <input type="radio" th:field="*{gender}" id="Male" value="Male">
                        <label for="Male">Male</label>
                    </div>
                    <div>
                        <input type="radio" th:field="*{gender}" id="Female" value="Female">
                        <label for="Female">Female</label>
                    </div>
                </div>

                <br>
                <label class="form-label">Email: </label>
                <input type="email" th:field="*{userEmail}" />  <br>
                <label class="form-label">Mobile: </label>
                <input type="text" th:field="*{mobile}" />  <br>
                <label class="form-label">Telegram: </label>
                <input type="text" th:field="*{telegram}" />  <br>

                <label class="form-label">Profession Industry: </label>
                <input type="text" th:field="*{profession}" />  <br>
                <label class="form-label">Department: </label>
                <input type="text" th:field="*{department}" />  <br>
                <label class="form-label">Social media link: </label>
                <input type="text" th:field="*{linkedIn}" />  <br>

                <label class="form-label">Year Of Birth: </label>
                <input type="number" th:field="*{yob}" />  <br>

                <label class="form-label">Bio: </label>
                <textarea rows="4" cols="40" class="form-control" th:field="*{bio}" /> </textarea> <br>
<!--                <input type="text" class="form-control" th:field="*{bio}" />  <br>-->

                <div class="col-12">
                    <label for="homeLocation" class="form-label">homeLocation: </label>
                    <select th:field="*{homeLocation}" id="homeLocation" class="form-select">
                        <option value="Posta" th:selected="${user.homeLocation == 'Posta'}">Posta</option>
                        <option value="Kariakoo" th:selected="${user.homeLocation == 'Kariakoo'}">Kariakoo</option>
                        <option value="Kinondoni" th:selected="${user.homeLocation == 'Kinondoni'}">Kinondoni</option>
                        <option value="Oysterbay" th:selected="${user.homeLocation == 'Oysterbay'}">Oysterbay</option>
                        <option value="Mikocheni" th:selected="${user.homeLocation == 'Mikocheni'}">Mikocheni</option>
                        <option value="Sinza" th:selected="${user.homeLocation == 'Sinza'}">Sinza</option>
                        <option value="Mwenge" th:selected="${user.homeLocation == 'Mwenge'}">Mwenge</option>
                        <option value="MbeziChini" th:selected="${user.homeLocation == 'MbeziChini'}">Mbezi Chini</option>
                        <option value="Tegeta/Mbweni/Bunju" th:selected="${user.homeLocation == 'Tegeta/Mbweni/Bunju'}">Tegeta/Mbweni/Bunju</option>
                        <option value="Others" th:selected="${user.homeLocation == 'Others'}">Others</option>
                    </select>
                </div>

                <div class="col-12">
                    <label for="workLocation" class="form-label">workLocation: </label>
                    <select th:field="*{workLocation}" id="workLocation" class="form-select">
                        <option value="Posta" th:selected="${user.workLocation == 'Posta'}">Posta</option>
                        <option value="Kariakoo" th:selected="${user.workLocation == 'Kariakoo'}">Kariakoo</option>
                        <option value="Kinondoni" th:selected="${user.workLocation == 'Kinondoni'}">Kinondoni</option>
                        <option value="Oysterbay" th:selected="${user.workLocation == 'Oysterbay'}">Oysterbay</option>
                        <option value="Mikocheni" th:selected="${user.workLocation == 'Mikocheni'}">Mikocheni</option>
                        <option value="Sinza" th:selected="${user.workLocation == 'Sinza'}">Sinza</option>
                        <option value="Mwenge" th:selected="${user.workLocation == 'Mwenge'}">Mwenge</option>
                        <option value="MbeziChini" th:selected="${user.workLocation == 'MbeziChini'}">Mbezi Chini</option>
                        <option value="Tegeta/Mbweni/Bunju" th:selected="${user.workLocation == 'Tegeta/Mbweni/Bunju'}">Tegeta/Mbweni/Bunju</option>
                        <option value="Others" th:selected="${user.workLocation == 'Others'}">Others</option>
                    </select>
                </div>

<!--                <div class="col-12">-->
<!--                    <label for="origin" class="form-label">Origin: </label>-->
<!--                    <select th:field="*{origin}" id="origin" class="form-select">-->
<!--                        <option value="Estonian" th:selected="${user.origin == 'Estonian'}">Estonian</option>-->
<!--                        <option value="European" th:selected="${user.origin == 'European'}">European</option>-->
<!--                        <option value="South American" th:selected="${user.origin == 'South American'}">South American</option>-->
<!--                        <option value="North American" th:selected="${user.origin == 'North American'}">North American</option>-->
<!--                        <option value="African" th:selected="${user.origin == 'African'}">African</option>-->
<!--                        <option value="Asian" th:selected="${user.origin == 'Asian'}">Asian</option>-->
<!--                        <option value="Russian" th:selected="${user.origin == 'Russian'}">Russian</option>-->
<!--                        <option value="Others" th:selected="${user.origin == 'Others'}">Others</option>-->
<!--                    </select>-->
<!--                </div>-->

                <br>

                <div class="col-12">
                    <label for="datingObjectives" class="form-label">Dating intentions* (hidden) </label>
                    <select th:field="*{datingObjectives}" id="datingObjectives" class="form-select">
                        <option value="Looking" th:selected="${user.datingObjectives == 'Looking'}">I am looking</option>
                        <option value="Whatever" th:selected="${user.datingObjectives == 'Whatever'}">Whatever</option>
                        <option value="No" th:selected="${user.datingObjectives == 'Not interested'}">Not interested</option>
                    </select>
                </div>
                <br>

<!--                <p>Stebbies</p>-->
<!--                <p>Press CTRL to select multiple options at once.</p>-->
<!--                <select multiple th:field="*{stebbyList}">-->
<!--                    <option th:each="stebby : ${allStebbies}" th:value="${stebby.getId()}" th:text="${stebby.service}">-->
<!--                    </option>-->
<!--                </select>-->

<!--                    Password edit with Spring Boot Security-->
<!--                    <p>Password: <input type="password" th:field="*{password}" /></p>-->

                    <br><br>

<!--                    <button type="submit" style="color:blue">-->
<!--                        <a th:href="@{/userPage/{id}(id=${user.id})}">Submit </a>-->
<!--                    </button>-->

                    <button type="submit">Submit</button>

                    <button type="button" style="color:red">
                    <a th:href="@{/userPage/{id}(id=${user.id})}">Cancel</a>
                    </button>

                </form>
            </div>

        </div>

    </div>
<!--        Main Content End-->

    <div th:replace="~{Fragments/NavRight}"></div>

</div>

</div>

</main>
</body>>

<div th:replace="~{Fragments/footer}"></div>
